{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section section-lg bg-color-7">
    <div class="container">
        <div class="row row-30 flex-column-reverse flex-lg-row">
            <div class="col-lg-8">
                <article class="post-info inset-1">
                    <h4 class="post-info-title">Upload Your Content</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere metus et tortor pulvinar venenatis. Aliquam erat volutpat. Nam ultrices semper felis, at laoreet metus</p>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        
                    
                        <table class="post-info-table">
                        <tr>
                            <td>Name</td>
                            <td><input class="form-input form-control-has-validation" id="id_name" type="text" name="name" data-constraints="@Required" fdprocessedid="w2q0tf">
                            </td>
                    
                                <!-- <td>Сountry</td>
                            <td>USA</td> -->
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input class="form-input form-control-has-validation" id="id_email" type="text" name="email" data-constraints="@Required" fdprocessedid="w2q0tf">
                            </td>
                    
                                <!-- <td>Сountry</td>
                            <td>USA</td> -->
                        </tr>
                        <tr>
                            <td>Idea Description</td>
                            <td><textarea class="form-input form-control-has-validation" id="id_idea_description" name="idea_description" data-constraints="@Required"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Content Type</td>
                            <!-- <td><input class="form-input form-control-has-validation" id="contact-name" type="text" name="name" data-constraints="@Required" fdprocessedid="w2q0tf"> -->
                                <td>
                                <select class="form-input form-control-has-validation" name="content_type" required="" id="id_content_type" fdprocessedid="gpvadp">
                                <option value="" selected="">---------</option>
                              
                                <option value="short_film">Short Film</option>
                              
                                <option value="podcast">Podcast</option>
                              
                                <option value="documentary">Documentary</option>
                              
                                <option value="entertainment">Entertainment Project</option>
                              
                              </select>
                            </td>
                        </tr>
                        
                    </table>
                    <button class="button button-lg button-primary" type="submit" >Upload</button>
                </form>
                    
                </article>
            </div>
            <div class="col-lg-4 text-center text-lg-left">
                <div class="movie-page-imageg"><img src="{% static 'content/images/movie-page-image-375x491.jpg' %}" alt="" width="375" height="491" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div style="margin: 100px;"></div>
<h2>Upload Your Content</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form> -->
{% endblock %}
