{% extends 'base_black.html' %}
{% load static %}
{% block nav_bg %}
<div class="page-header-1-figure m-parallax">
    <div class="page-header-1-image m-parallax-image" style="background-image: url({% static 'images/bg-image-3.jpg' %});"></div>
</div>
{% endblock nav_bg %}
{% block nav_content %}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-inner">
        <div class="container">
            <div class="breadcrumbs-custom-main m-parallax-content">
                <h2 class="breadcrumbs-custom-title">About</h2>
                <p>Echoes a powerhouse for budding artists, right talent and showcasing your work...</p>
                <p>EchoesRipple – Where Dreams Get Screen Time! 🎬</p>
                <div class="group group-sm group-middle"><a class="button button-sm button-icon button-icon-left button-light" data-lightgallery="item" href="https://youtu.be/VML6rQWssSk"><span class="icon mdi mdi-play"></span>Watch Now</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock nav_content %}
{% block content %}



<!-- Basic Info-->
<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 justify-content-center align-items-center">
            <div class="col-md-10 col-lg-7">
                <h4 class="block-1 lh-1"> The Ultimate Playground for Filmmakers, Creators & Dreamers!</h4>
                <div class="block-2 mt-20 mt-md-30 mt-lg-50" style="color: #f3c10c;">
                    <p style="color: #f3c10c;" >Welcome to EchoesRipple, the platform where raw talent meets real opportunities! Whether you’re an indie filmmaker, content creator, actor, or investor, we provide the stage, audience, and funding you need to turn your vision into reality.
<br>
                        🎥 Create. Connect. Monetize. Repeat.</p>
                </div><a class="button button-lg button-primary mt-lg-40" href="#">Read More</a>
            </div>
            <!-- <div class="col-md-10 col-lg-7">
                <h4 class="block-1 lh-1"> A Few Words About Echoes</h4>
                <div class="block-2 mt-20 mt-md-30 mt-lg-50">
                    <p>Echoes productions is a media house involved in the production of short films, animation, documentary, feature films, and podcasts, under its own banner and also, servers as a platform for other producers, to publish their work on our site to gain momentum and earn through our site. We also, support with co-production cooperation with other production houses in various ventures.</p>
                </div><a class="button button-lg button-primary mt-lg-40" href="#">Read More</a>
            </div> -->
            <div class="col-md-10 col-lg-5 parallax-scene-js">
                <div class="section-image-1 v2"><img src="{% static 'images/section-image-1-546x33.png' %}" alt="" width="546" height="33" />
                    <div class="section-image-decorative-1">
                        <div class="layer" data-depth="-.25">
                            <div class="item"></div>
                        </div>
                    </div>
                    <div class="section-image-decorative-2">
                        <div class="layer" data-depth="+.25">
                            <div class="item"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features-->
<section class="section section-lg text-center text-sm-left">
    <div class="container">
        <ul class="list-group-1 row row-50" style="align-items: center;">
            <li class="col-sm-6 col-lg-4">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-pictures"></div> -->
                    <img src="{% static 'images/about_filmmaker.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">For Filmmakers & Content Creators – Make Your Mark!</h5>
                        <p>
                            <ul>
                                <li style="display:list-item;color: #f3c10c;">🎥 Pitch Your Project</li>
                                <li style="display:list-item;color: #f3c10c;">🛠️ Assemble Your Crew</li>
                                <li style="display:list-item;color: #f3c10c;">💸 Secure Funding</li>
                                <li style="display:list-item;color: #f3c10c;">📢 Get Noticed</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-4">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-eye"></div> -->
                    <img src="{% static 'images/about_team.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title"> For Talent & Crew – Get Discovered!</h5>
                        <p>
                            <ul>
                                <li style="display:list-item;color: #f3c10c;">🎭 Show Off Your Skills </li>
                                <li style="display:list-item;color: #f3c10c;">🎯 Match with Projects</li>
                                <li style="display:list-item;color: #f3c10c;">🤝 Network Like a Pro</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-4">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-3d-glasses"></div> -->
                    <img src="{% static 'images/about_investor.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">For Investors – Bet on the Next Big Hit!</h5>
                        <p>
                            <ul>
                                <li style="display:list-item;color: #f3c10c;">📈 Discover High-Potential Projects</li>
                                <li style="display:list-item;color: #f3c10c;">💼 Track Your Investments</li>
                                <li style="display:list-item;color: #f3c10c;">🎞️ Be Part of the Future of Entertainment</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            
        </ul>
    </div>
</section>
<!-- Features-->
<section class="section section-lg bg-color-7 text-center text-sm-left">
    <div class="container">
        <h3 class="text-center">The Power of EchoesRipple – More Than Just a Platform!</h3>
        <p class="text-center" style="color: #f3c10c;" >Echoes productions is a media house involved in the production of short films, animation, documentary, feature films, and podcasts, under its own banner and also, servers as a platform for other producers, to publish their work on our site to gain momentum and earn through our site. <br> We also, support with co-production cooperation with other production houses in various ventures.</p>
        
        <div style="display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 60%;
            margin: auto;
            justify-content: space-between;">
            <ul>
                <li style="text-align: center; margin: 50px;">
                    <i class="fa-brands fa-ubuntu" style="font-size: 90px; color: #ff0041;"></i>
                    <p style="font-weight: bolder;color:#f3c10c">Smart Matching System</p>
                </li>
                <li style="text-align: center; margin: 50px;">
                    <i class="fa-solid fa-globe" style="font-size: 90px; color: #ff0041;"></i>
                    <p style="font-weight: bolder;color:#f3c10c">Global Exposure</p>
                </li>
                </ul>
                <ul>
                <li style="text-align: center; margin: 50px;">
                    <i class="fa-solid fa-money-bill-trend-up" style="font-size: 90px; color: #ff0041;"></i>
                    <p style="font-weight: bolder;color:#f3c10c">Monetization Made Easy</p>
                </li>

                <li style="text-align: center; margin: 50px;">
                    <i class="fa-solid fa-sack-dollar" style="font-size: 90px; color: #ff0041;"></i>
                    <p style="font-weight: bolder;color:#f3c10c">Funding on your Idea!</p>
                </li>

            </ul>
        </div>
    </div>
</section>
<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 justify-content-center align-items-center">
            <div class="col-md-10 col-lg-5 parallax-scene-js">
                <div class="section-image-1 v2"><img src="{% static 'images/about_image.png' %}" alt="" width="546" height="33" />
                    <div class="section-image-decorative-1">
                        <!-- <div class="layer" data-depth="-.25">
                            <div class="item"></div>
                        </div> -->
                    </div>
                    <!-- <div class="section-image-decorative-2">
                        <div class="layer" data-depth="+.25">
                            <div class="item"></div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-10 col-lg-7">
                <h4 class="block-1 lh-1"> EchoesRipple – Where Dreams Get Screen Time! </h4>
                <div class="block-2 mt-20 mt-md-30 mt-lg-50">
                    <p style="color: #f3c10c;">Echoes productions is a media house involved in the production of short films, animation, documentary, feature films, and podcasts, under its own banner and also, servers as a platform for other producers, to publish their work on our site to gain momentum and earn through our site. We also, support with co-production cooperation with other production houses in various ventures.</p>
                </div><a class="button button-lg button-primary mt-lg-40" href="#">Read More</a>
            </div>


        </div>
    </div>
</section>
<!-- Features-->
<section class="section section-lg bg-color-7 text-center text-sm-left">
    <div class="container">
        
        <p></p>
        <ul class="list-group-1 row row-50">
            <li class="col-sm-12">
                <article class="lg-4-item">
                    
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title"></span>WANT TO WORK WITH US?</h5>
                        <p>
                            Click on the appropriate link below to be added.
                        <ul>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-product-hunt"></i> Producers</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-pen-nib"></i> Writers</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-film"></i> Cinematographer’s</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-artstation"></i> Art Directors</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-figma"></i> Sound Designers</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-tarp-droplet"></i> Assistant Directors</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-artstation"></i> Production Assistant’s</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-user-nurse"></i> Trainee </a></li>
                        </ul>
                        <ul>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-nfc-directional"></i> Directors</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-pen-to-square"></i> Editors</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-water"></i> Composers</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-brands fa-creative-commons"></i> Make Up</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-people-arrows"></i> Casting Directors</a></li>
                            <li style="display:list-item;color: #f3c10c;"><a style="font-weight: bold; color: #f3c10c;" href="{% url 'collaborate' %}"><i class="fa-solid fa-camera"></i> BTS / Still Photographer’s</a></li>
                        </ul>
                        </p>
                    </div>
                </article>
            </li>
            <!-- <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <div class="icon lg-1-item-icon linearicons-eye"></div>
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Detailed Reviews</h5>
                        <p>Lura, capio, et diatria. Mori recte ducunt ad alter plasmator. Experimentum sapienter ducunt ad audax.</p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <div class="icon lg-1-item-icon linearicons-3d-glasses"></div>
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Diverse Approach</h5>
                        <p>Indexs ortum! Classiss sunt solitudos de altus adgium. Castus, regius triticums superbe anhelare.</p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <div class="icon lg-1-item-icon linearicons-camera-play"></div>
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title"><span class="lg-1-item-counter"></span>Fresh Trailers</h5>
                        <p>Cur nixus mori? Pol. Sunt hippotoxotaes convertam festus, brevis buboes. Brevis terror nunquam amors.</p>
                    </div>
                </article>
            </li> -->
        </ul>
    </div>
</section>
<!-- Our Team-->
<!-- <section class="section bg-default">
    <div class="range">
        <div class="cell-lg-7 cell-xl-8 cell-xxl-9">
            <div class="cell-inner section-lg text-center text-sm-left">
                <h4>Meet Our Team</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
                
                <div class="owl-carousel owl-1 mt-40 mt-lg-50" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="2" data-xl-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="30" data-mouse-drag="false">
                    
                    <article class="profile-classic"><img class="profile-classic-image" src="{% static 'images/our-team-1-272x197.jpg' %}" alt="" width="272" height="197" />
                        <div class="profile-classic-main">
                            <p class="profile-classic-position">Founder, Owner</p>
                            <p class="profile-classic-name heading-5">Peter Jones</p>
                            <div class="profile-classic-unit">
                                <div class="icon mdi mdi-phone"></div><a href="tel:#">1-800-36-677</a>
                            </div>
                        </div>
                    </article>
                    
                    <article class="profile-classic"><img class="profile-classic-image" src="{% static 'images/our-team-2-272x197.jpg' %}" alt="" width="272" height="197" />
                        <div class="profile-classic-main">
                            <p class="profile-classic-position">Content Manager</p>
                            <p class="profile-classic-name heading-5">Edward Smith</p>
                            <div class="profile-classic-unit">
                                <div class="icon mdi mdi-phone"></div><a href="tel:#">1-800-36-677</a>
                            </div>
                        </div>
                    </article>
                    
                    <article class="profile-classic"><img class="profile-classic-image" src="{% static 'images/our-team-3-272x197.jpg' %}" alt="" width="272" height="197" />
                        <div class="profile-classic-main">
                            <p class="profile-classic-position">Web Designer</p>
                            <p class="profile-classic-name heading-5">Mark Williams</p>
                            <div class="profile-classic-unit">
                                <div class="icon mdi mdi-phone"></div><a href="tel:#">1-800-36-677</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="cell-lg-5 cell-xl-4 cell-xxl-3 height-fill">
            <div class="box-3 bg-image" style="background-image: url({% static 'images/about-2.jpg' %});"><a class="box-3-play" data-lightgallery="item" href="https://youtu.be/d5k9CILJivQ"><span class="icon mdi mdi-play"></span></a></div>
        </div>
    </div>
</section> -->
{% endblock %}
