{% extends 'base_black.html' %}
{% load static %}
{% block nav_bg %}
<div class="page-header-1-figure m-parallax">
    <div class="page-header-1-image m-parallax-image" style="background-image: url({% static 'images/bg-image-3.jpg' %});"></div>
</div>
{% endblock nav_bg %}
{% block nav_content %}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-inner">
        <div class="container">
            <div class="breadcrumbs-custom-main m-parallax-content">
                <h2 class="breadcrumbs-custom-title">For Investors – Fund the Future of Entertainment</h2>
                <p>EchoesRipple connects accredited investors with filmmakers, producers, and content creators seeking funding for short films, documentaries, podcasts, animations, music videos, and entertainment projects.</p>
                <p>🎬 Discover. Invest. Profit.</p>
                <div class="group group-sm group-middle"><a class="button button-sm button-icon button-icon-left button-light" data-lightgallery="item" href="https://youtu.be/VML6rQWssSk"><span class="icon mdi mdi-play"></span>Watch Now</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock nav_content %}
{% block content %}

<div>

    <h5 style="text-align: center;margin-top: 50px;">Getting Started</h5>
    <h3 style="text-align: center;color: #f3c10c;">An Investor</h3>
    <!-- Features-->
<section class="section section-lg text-center text-sm-left">
    <div class="container">
        <ul class="list-group-1 row row-50" style="align-items: center;">
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-pictures"></div> -->
                    <img src="{% static 'images/talent_image1.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">Create Your Profile</h5>
                        <p>
                            <ul style="list-style:circle">
                                <li style="display:list-item;color: #f3c10c;">Sign up for free in less than 30 seconds.</li>
                                <li style="display:list-item;color: #f3c10c;">Use your real name (this is a professional network)..</li>
                                <li style="display:list-item;color: #f3c10c;">Confirm your email to activate your profile.</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-eye"></div> -->
                    <img src="{% static 'images/investor_image1.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">Apply for Investor Status</h5>
                        <p>
                            <ul style="list-style:circle">
                                <li style="display:list-item;color: #f3c10c;">Add "Investor" to your profile under Profession Tags.</li>
                                <li style="display:list-item;color: #f3c10c;">Submit proof of your Accredited Investor qualifications.</li>
                                <li style="display:list-item;color: #f3c10c;">Our team will review & approve your investor status.</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-3d-glasses"></div> -->
                    <img src="{% static 'images/investor_image2.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">Activate Your Investment Preferences</h5>
                        <p>
                            <ul style="list-style:circle">
                                <li style="display:list-item;color: #f3c10c;">Once approved, set your investment criteria – preferred project types, funding range, and qualitative filters.</li>
                                <li style="display:list-item;color: #f3c10c;">You can activate or deactivate your investment interest at any time.</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            <li class="col-sm-6 col-lg-3">
                <article class="lg-1-item">
                    <!-- <div class="icon lg-1-item-icon linearicons-3d-glasses"></div> -->
                    <img src="{% static 'images/investor_image3.png' %}" alt="">
                    <div class="lg-1-item-main">
                        <h5 class="lg-1-item-title">Match, Connect & Invest</h5>
                        <p>
                            <ul style="list-style:circle">
                                <li style="display:list-item;color: #f3c10c;">Browse projects that fit your investment goals.</li>
                                <li style="display:list-item;color: #f3c10c;">Send direct messages to filmmakers, producers, and creative teams.</li>
                                <li style="display:list-item;color: #f3c10c;">Receive inbound investment opportunities from high-potential projects.</li>
                            </ul>
                        </p>
                    </div>
                </article>
            </li>
            
        </ul>
    </div>
</section>
</div>


{% endblock %}